*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol,
li {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
a.build-btn[disabled],
button.build-btn[disabled] {
  cursor: not-allowed;
  color: #C9C9C9;
  pointer-events: none;
}
.create-btn[disabled] {
  cursor: not-allowed;
  background: #e2e2e2;
  color: #C9C9C9;
  pointer-events: none;
}
img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}