@media screen and (max-width: 1300px) {
    .title{
        font-size: 27px;
        line-height: 33px;
    }
    .video__wrapper .quantity__persons{
        right: 20px;
        bottom: 180px;
    }
    .result__rus{
        height: 290px;
    }
}
@media screen and (max-width: 1100px){
    .previous-wrapper{
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .indent-br{
        display: block !important;
    }
    .competitions-drop-editor{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 992px) {
    .header{
        position: fixed;
        z-index: 700;
    }
    .nav{
        display: none;
    }
    .navbar-mobile{
        display: none;
    }
    .main{
        padding-top: 85px;
    }
    .mobile__menu{
        display: flex;
        .header__login-icon{
            margin-bottom: 15px;
        }
    }
    .title__input{
        width: 150px;
    }
    .profile__body .header-bg{
        background: var(--white);
    }
    .row__card-image{
        display: none;
    }
    .video__text {
        font-size: 40px;
        line-height: 40px;
    }
    .payment-width{
        margin-top: 15px;
    }
    .cupon-code{
        padding: 12px;
    }
    .news__card{
        height: 360px;
    }
    .news__card{
        padding: 1rem;
    }
    .inner__info{
        &:hover {
            background-size: 170%;
        }
    }
    .inner__title{
        width: 127px;
    }
    .video__wrapper .quantity__persons{
        right: 20px;
        font-size: 30px;
        bottom: 120px;
    }
    .create-description{
        padding: 25px !important;
    }
    .choose__search .form__choose-search{
        padding: 15px 10px;
        gap: 12px;
        justify-content: space-between;
        .search__form{
            max-width: 250px;
        }
    }
    .select-box.age, 
    .select-box.categ{
        width: 150px;
    }
    .competitions-info{
        flex-direction: column;
        align-items: flex-start;
    }
    .select-width,
    .select-toggle{
        max-width: none !important;
    }
    .label-width{
        width: 100% !important;
    }
}
@media screen and (max-width: 768px){
    .data-weather{
        margin-bottom: 20px;
    }
    .mobile__menu .download{
        display: inline-flex;
    }
    .download{
        margin-bottom: 10px;
        display: none;
    }
    .step::after, .step::before {
        right: -135px;
        width: 50px;
    }
    .video {
        padding-bottom: 25px;
    }
    .quantity__persons{
        font-size: 25px;
    }
    .row__inputs{
        flex-direction: column;
    }
    .competitions-inner{
        flex-direction: column;
    }
    .competitions-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    .check-select,
    .competitions-label{
        width: 100% !important;
    }
    #phone{
        margin-bottom: 10px;
    }
    .profile__label{
        width: 100%;
    }
    .profile__top-info{
        display: none;
    }
    .mobile__menu .header__login-icon{
        margin-bottom: 10px;
    }
    .create__date-time__inner{
        flex-direction: column;
    }
    .create__date-time__inner p.info-text{
        margin: 10px 0;
    }
    .form__profile .shift .profile__label{
        width: 80px;
        height: 80px;
        flex: 0 0 80px;
    }
    .form__profile .shift{
        flex-wrap: nowrap;
    }   
    .row-info .price-tikets{
        width: 100%;
        justify-content: space-between;
    }
    .form{
        margin-top: 100px;
        position: static;
        transform: translate(0) !important;
    }
    .review-form,
    .registration{
        margin: 0 5px 10px 5px;
    }
    .bg-input{
        width: 240px;
    }
    .review__check-form{
        align-items: center;
        flex-direction: column-reverse;
    }
    .form .authorization__text{
        font-size: 20px;
    }
    .application__wrapper{
        justify-items: center;
    }
    .application__description-text{
        font-size: 17px;
    }
    .event__forms .event__forms-title{
        margin-bottom: 20px;
        line-height: 30px;
        font-size: 30px;
    }
    .application .application__description{
        margin-bottom: 25px;
    }
    .application__description-title {
        line-height: 23px;
        font-size: 20px;
    }
    .choose__search .form__choose-search .search__form{
        max-width: none;
        width: 100%;
    }
    .main .section-result{
        padding-top: 15px;
    }
    .footer__inner{
        flex-direction: column-reverse;
    }
    .footer__apps{
        margin-bottom: 30px;
        flex: none;
    }
    .footer__description{
        flex: none;
    }
}
@media screen and (max-width: 570px) {
    .row__card-item{
        flex-direction: column;
    }
    .row__card-image{
        display: block;
        max-width: none;
    }
    .cupon-code {
        padding: 5px;
    }
    .quantity__persons{
        display: none;
    }
    .news__row{
        flex-direction: column;
    }
    .news__card{
        margin: 10px 0px;
        height: 430px;
        width: 100%;
    }
    .inner__title{
        width: auto;
    }
    .navbar{
        display: none;
    }
    .video__text {
        font-size: 20px;
        line-height: 25px;
    }
    .quantity__persons {
        font-size: 20px;
    }
    .footer__apps-title{
        font-size: 27px;
        line-height: 35px;
    }
    .result__rus{
        height: 240px;
    }
    .select-box.age, 
    .select-box.categ,
    .select-box.gender{
        width: 100%;
    }
    .choose-inner{
        align-items: flex-start;
        flex-direction: column;
    }
    .popup-choose__left{
        margin-bottom: 20px;
    }
    .popup .popup-choose__right{
        justify-content: space-between;
    }
    .choose-description__data h3{
        font-size: 16px;
    }
    .choose-description__data p{
        font-size: 14px;
    }
    .main .big__image{
        margin-bottom: 20px;
    }
    .event__forms .event__forms-title {
        font-size: 20px;
    }
    .popup__users {
        margin-right: 10px;
    }
    .popup .popup-choose__right{
        max-width: none;
    }
}
@media screen and (max-width: 500px){
    .loading{
        top: 12px;
        right: 12px;
        width: 35px;
        height: 35px;
        &__circle{
            width: 35px;
            height: 35px;
        }
    }
    .step::after, .step::before {
        right: -70px;
        width: 50px;
    }
    .competitions-pay{
        justify-content: center;
    }
    .our-events__tabs-list{
        margin-top: 15px;
        margin-right: 0 !important;
    }
    .search.uncover{
        width: 100% !important;
    }
    .tabs-search__content{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .new__form-profile{
        padding-bottom: 50px;
    }
    .inner__title{
        width: 250px;
    }
    .row-full__block{
        width: 100%;
    }
    .create-form{
        flex-direction: column;
    }
    .create__info-right{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .notes-text{
        border-radius: 20px !important;
    }
    .drop-zone__prompt{
        font-size: 15px;
        line-height: 17px;
    }
    .column__inform{
        flex-direction: column;
        align-items: flex-start;
    }
    .row__information{
        flex-direction: column;
    }
    .parameters{
        max-width: none;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .row__card-center{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .form .row__authorization{
        flex-direction: column;
    }
    .form .row__authorization .authorization__with{
        width: 100%;
    }
    .payment-width{
        width: 100%;
        .select-box.month,
        .select-box.year{
            margin-right: 0;
            margin-bottom: 10px;
            width: 100%;
        }
    }
    .header-navigation .language,
    .header-navigation .header__login-icon{
        display: none;
    }
    .mobile__menu .language,
    .mobile__menu .header__login-icon{
        display: flex;
    }
    .notes-text.width{
        min-width: 160px !important;
    }
    .notes{
        padding: 15px !important;
    }
}
@media screen and (max-width: 430px){
    .video__wrapper .quantity__persons{
        bottom: -15px;
    }
    .video__title{
        left: 20px;
    }
    .accordion__content .course{
        padding: 10px;
    }
    .row-info .price-tikets{
        flex-direction: column;
    }
    .form{
        padding: 15px;
    }
    .progress__bar{
        justify-content: space-around;
    }
    .step {
        flex-direction: column;
        p{
            font-size: 14px;
        }
    }
    .bullet{
        margin-right: 0;
        margin-bottom: 5px;
    }
    .review__tiket-description p{
        font-size: 14px;
    }
    .contact__image{
        margin-bottom: 20px !important;
    }
    .contact__information-title .subtitle{
        font-size: 16px;
        line-height: 23px;
    }
    .result-description__title{
        font-size: 18px;
        line-height: 25px;
    }
    .news__card{
        height: 340px;
    }
    .inner__title {
        width: 170px;
    }
    .user__result .bold,
    .result-description__span{
        font-size: 14px;
    }
    .user__result{
        padding: 15px;
    }
    .user-result__number{
        margin-right: 10px;
    }
    .photo{
        max-width: 35px;
    }
    .data__time .info-text{
        font-size: 16px;
    }
    .previous-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
    .popup .popup__center{
        margin-bottom: 20px;
    }
    .popup .popup__center h3{
        font-size: 20px;
    }
    .popup .popup__center p {
        line-height: 20px;
        font-size: 16px;
    }
    .row__forms .form__secondary{
        padding: 15px;
    }
    .form__choose-inner .checkbox__options{
        margin-bottom: 30px;
    }
    .application .application__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
    .btn__choose-search{
        max-width: 80px !important;
    }
    .form__profile .shift .profile__label{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .form__profile .shift{
        flex-direction: column;
    }
    .profile__title{
        padding: 15px;
    }
    .parameters__text{
        font-size: 18px;
        line-height: 20px;
    }
    .pagination-event__list{
        margin: 0 10px !important;
    }
}